{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">About the property</h1>

      <form class="form" action="/website" method="post">

        {{ govukInput({
          label: {
            text: "What is the name of the current occupier?",
            classes: "govuk-label--m"
          },
          hint: {
            text: "This should be the trading name of the business operating from the property"
          },
          classes: "govuk-input--width-20",
          id: "full-name",
          name: "full-name"
        }) }}

        {% set otherHtml %}
        {{ govukInput({
          label: {
            text: "Please give details if the property has another use, or is vacant",
            classes: "govuk-body--s",
            isPageHeading: true
          },
          id: "other-property-name",
          name: "other-property-name"
        }) }}
        {% endset -%}

       {{ govukCheckboxes({
         idPrefix: "waste",
         name: "waste",
         fieldset: {
           legend: {
             text: "What is the current use of the property?",
             isPageHeading: true,
             classes: "govuk-fieldset__legend--m"
           }
         },
         hint: {
           text: "Select all that apply"
         },
         items: [
           {
             value: "Fleet caravan park",
             text: "Fleet caravan park"
           },
           {
             value: "Private caravan park",
             text: "Private caravan park"
           },
           {
             value: "Residential park",
             text: "Residential park"
           },
           {
             value: "Chalet park",
             text: "Chalet park"
           },
           {
             value: "Touring site",
             text: "Touring site"
           },
           {
             value: "Holiday centre",
             text: "Holiday centre"
           },
           {
             value: "otherUse",
             text: "Other",
             conditional: {
               html: otherHtml
             }
           }
		   
         ]
       }) }}
		

        <!--{{ govukTextarea({
          name: "enforcement-action",
          id: "enforcement-action",
          label: {
            text: "If enforcement action has been taken, please give details of any suspensions, closure orders or temporary restrictions",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Leave blank if no enforcement action has been taken"
          }
        }) }}-->



        <!--{{ govukTextarea({
          name: "premises-licence",
          id: "premises-licence",
          label: {
            text: "Give details if your Premises Licence has conditions restricting the use of all or parts of the property",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Leave blank if no enforcement action has been taken"
          }
        }) }}-->

        <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
