{% extends "layout.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
	  <h1 class="govuk-heading-l">Concessions and franchises</h1>

      


        <style>
          .row {
            display: flex;
          }

          .form-grp {
            margin: 10px
          }
          .form-grp label {
            display:block;
          }
		  
		  .row {margin:20px 0;}
		  
		  div span.govuk-input__wrapper {display:inline-block;}
		  
		  .govuk-input__prefix, .govuk-input__suffix {
		    font-size: 19px;
		    font-size: 1.1875rem;
		    line-height: 1.38;
	
		  }
		  
		  .govuk-input__suffix {
			margin-right:30px;
		  }
		  
		  .govuk-input__prefix.secondCol {
			margin-left:70px;
		  }
		  
		  .row.weeks span {margin-left:50px;}
		  
		  p {font-weight:bold;}
		  
		  
		 
		  
          </style>
		  
		 

        <form class="form" action="/concessions-yes-or-no" method="post">
			
            {% set otherHtml %}
	        {{ govukInput({
	          id: "turnover-year",
	          name: "turnover-year",
	          label: {
	            text: "Number of concessions and franchises",
  	          
	            classes: "govuk-label--s",
	            isPageHeading: true
	          },
  	          
	          classes: "govuk-input--width-3",
	          spellcheck: false
	        }) }}
            {% endset -%}
			
	        

	        {{ govukRadios({
	          idPrefix: "static",
	          name: "static",
	          fieldset: {
	            legend: {
	              text: "Are any payments received in lieu of trading receipts?",
	              isPageHeading: true,
	              classes: "govuk-fieldset__legend--m"
	            }
	          },
			  hint: {
			      text: "For example, by way of concession or franchise agreement"
			    },
	          items: [
	            {
	              value: "Yes",
	              text: "Yes",
            conditional: {
              html: otherHtml
            }
	            },
	            {
	              value: "No",
	              text: "No"
	            }
	          ]
	        }) }}
			
			
			
      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>
    </div>
  </div>

{% endblock %}
