{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">About you </h1>

      <h1 class="govuk-heading-l">Alternative contact details</h1>

      <form class="form" action="/about-the-property" method="post">

        {{ govukInput({
          label: {
            text: "Full name",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          id: "event-name",
          name: "event-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Daytime telephone number",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          id: "event-name",
          name: "event-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          id: "event-name",
          name: "event-name"
        }) }}

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Correspondance address
            </h1>
          </legend>

          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-1">
              Address line 1
            </label>
            <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-2">
              Address line 2 (optional)
            </label>
            <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="address-town">
              Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="address-county">
              County (optional)
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="address-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
          </div>

        </fieldset>

        <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
