{% extends "layout.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-m">About your trading history (continued)</span>
      <br>

      <h1 class="govuk-heading-l">Cost of sales and gross profit</h1>

      <h1 class="govuk-body-m">Please tell us your total cost of sales and gross profits for the last three financial years. If you have not been trading for three financil years, please provide us with your most up to date accounts</h1>

        <style>
          .row {
            display: flex;
          }

          .form-grp {
            margin: 10px
          }
          .form-grp label {
            display:block;
          }
          </style>

        <form class="form" action="/explain-business-cost-or-gross-6015" method="post">

          <table>
            <tr>
              <th><h1 class="govuk-heading-s">Financial year</h1></th>
              <th><h1 class="govuk-heading-s">2020/21</h1></th>
              <th><h1 class="govuk-heading-s">2021/22</h1></th>
              <th><h1 class="govuk-heading-s">2022/23</h1></th>
            </tr>
            <hr>
            <tr>
              <td>
                <h1 class="govuk-heading-s">Cost of sales</h1>
              </td>
              <td>
                <div class="form-grp">
                  <label for="weeks1"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "turnover1",
                    name: "turnover1"
                  }) }}
                </div>
              </td>
              <td>
                <div class="form-grp">
                  <label for="weeks2"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "turnover2",
                    name: "turnover2"
                  }) }}
                </div>
              </td>
              <td>
                <div class="form-grp">
                  <label for="weeks3"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "turnover3",
                    name: "turnover3"
                  }) }}
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h1 class="govuk-heading-s">Gross profits</h1>
              </td>
              <td>
                <div class="form-grp">
                  <label for="turnover1"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "turnover1",
                    name: "turnover1"
                  }) }}
                </div>
              </td>
              <td>
                <div class="form-grp">
                  <label for="turnover2"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "turnover2",
                    name: "turnover2"
                  }) }}
                </div>
              </td>
              <td>
                <div class="form-grp">
                  <label for="turnover3"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "turnover3",
                    name: "turnover3"
                  }) }}
                </div>
              </td>
            </tr>

          </table>
      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>
    </div>
  </div>

{% endblock %}
