{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Lease or agreement details </h1>

      <form class="form" action="/rent-include-6020" method="post">

        {{ govukInput({
          id: "annual-rent",
          name: "annual-rent",
          label: {
            text: "What is the current annual rent?",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "For examples, 32000"
          },
          spellcheck: false
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "changed-name",
          name: "changed-name",
          fieldset: {
            legend: {
              text: "Does the rent vary according to the throughput?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukTextarea({
          name: "more-detail",
          id: "more-detail",
          label: {
            text: "Explain how the rent is calculated",
            classes: "govuk-body--s",
            isPageHeading: true
          }
        }) }}

      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
