{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/filter-users" method="post">

      
        {{ govukTable({
          caption: "Please give trading receipts for the last 3 financial years or since occupation commenced.",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: [
            {
              text: ""
            },
            {
              text: "2020/2021"
            },
            {
              text: "2021/2022"
            },
            {
              text: "2022/2023"
            }
          ],
          rows: [
            [
              {
                text: "Turnover"
              },
              {
                text: "",
                format: numeric
              },
              {
                text: ""
              },
              {
                text: ""
              }
            ],
            [
              {
                text: "Intoxicating Liquor"
              },
              {
                text: ""
              },
              {
                text: ""
              },
              {
                text: ""
              }
            ],
            [
              {
                text: "Food"
              },
              {
                text: ""
              },
              {
                text: ""
              },
              {
                text: ""
              }
            ],
            [
              {
                text: "Other receipts"
              },
              {
                text: ""
              },
              {
                text: ""
              },
              {
                text: ""
              }
            ],
            [
              {
                text: "Accomodation"
              },
              {
                text: ""
              },
              {
                text: ""
              },
              {
                text: ""
              }
            ],
            [
              {
                text: "Average occupancy rate"
              },
              {
                text: ""
              },
              {
                text: ""
              },
              {
                text: ""
              }
            ]
          ]
        }) }}

        <!-- If yes, new pop up-->

        {% set yesHtml %}
        {{ govukTable({
          caption: "Please give trading receipts for the last 3 financial years or since occupation commenced.",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: [
            {
              text: ""
            },
            {
              text: "2020/2021"
            },
            {
              text: "2021/2022"
            },
            {
              text: "2022/2023"
            }
          ],
          rows: [
            [
              {
                text: "% paid to landlord"
              },
              {
                text: "",
                format: numeric
              },
              {
                text: ""
              },
              {
                text: ""
              }
            ],
            [
              {
                text: "% retained by tenant or occupier"
              },
              {
                text: ""
              },
              {
                text: ""
              },
              {
                text: ""
              }
            ],
            [
              {
                text: "Occupier's share of AWP takings"
              },
              {
                text: ""
              },
              {
                text: ""
              },
              {
                text: ""
              }
            ],
            [
              {
                text: "Other receipts"
              },
              {
                text: ""
              },
              {
                text: ""
              },
              {
                text: ""
              }
            ],
            [
              {
                text: "Accomodation"
              },
              {
                text: ""
              },
              {
                text: ""
              },
              {
                text: ""
              }
            ],
            [
              {
                text: "Average occupancy rate"
              },
              {
                text: ""
              },
              {
                text: ""
              },
              {
                text: ""
              }
            ]
          ]
        }) }}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "changed-name",
          name: "changed-name",
          fieldset: {
            legend: {
              text: "Are AWP gaming machines takings shared between occupier and landlord?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Amusement with prize (AWP) gaming machines (including NET of prizes, hirer's charge, rentals and license fees)"
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
