{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m">About your lease or agreement (continued)</span>
      <br>

      <form class="form" action="/intervals-rent-reviewed-6015" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "former-lease-6015",
          name: "former-lease-6015",
          fieldset: {
            legend: {
              text: "Was a former lease or agreement surrendered early as a condition of the present one being granted?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <!--{{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "rent-reduced",
          name: "rent-reduced",
          fieldset: {
            legend: {
              text: "Can the rent be reduced on review under the terms of the lease or agreement?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "tenants-additions",
          name: "tenants-additions",
          fieldset: {
            legend: {
              text: "Were any tenant's additions or improvements disregarded at the time the rent stated was agreed or determined?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Os the rent based on the market value of the property before yoour improvements were made?"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "pay-capital-sum",
          name: "pay-capital-sum",
          fieldset: {
            legend: {
              text: "Did you pay a capital sum or premium for your lease or agreement ignoring tenants inventory?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "The sum could be paid to the landlord or a previous lessee"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "planning-restrictions",
          name: "planning-restrictions",
          fieldset: {
            legend: {
              text: "Are there any legal or planning restrictions, unusual terms or conditions in the lease or agreement etc that may have affected the rent payable?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, surchage payable in exchange for release for tie, break clause, contracting out of Landlaord and Tenant Act rights"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}-->

      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
