{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/reference-answer" method="post">

        {% set yesHtml %}
        {{ govukCharacterCount({
          name: "with-hint",
          id: "with-hint",
          maxlength: 200,
          label: {
            text: "Can you provide more detail?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Do not include personal or financial information like your National Insurance number or credit card details."
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "contact",
          name: "contact",
          fieldset: {
            legend: {
              text: "Would you like to provide any further information or remarks?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You can provide further details if there is insufficient room for you to complete answers to any of the forgoing questions or irony questions require further explanation or clarification"
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml
              }
            },
            {
              value: "no",
              text: "No",
              conditional: {
                html: noHtml
              }
            }
          ]
        }) }}

      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
