{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		

      <form class="form" action="/alternative-contact-details-standard" method="post">

        {{ govukCharacterCount({
          name: "with-hint",
          id: "with-hint",
          maxlength: 2000,
          label: {
            text: "Further information or remarks (if any)",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Please provide further details if there is insufficient room for you to complete your answers to any of the foregoing questions, or if any questions require further explaination or clarification"
          }
        }) }}


        <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
