{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-m">About your trading history</span>
      <br>

      <form class="form" action="/gross-profits-cost-total-6015" method="post">

        <h1 class="govuk-heading-m">Gross Profits</h1>

        <h1 class="govuk-body-m">By giving a breakdown of your departmental gross profits, you'll only have to include your total cost of sales on the next screen.</h1>

        <style>
          .row {
            display: flex;
          }

          .form-grp {
            margin: 10px
          }
          .form-grp label {
            display:block;
          }
          </style>

          <table>
            <tr>
              <th><h1 class="govuk-heading-s">Financial Year</h1></th>
              <th><h1 class="govuk-heading-s">2020/21</h1></th>
              <th><h1 class="govuk-heading-s">2021/22</h1></th>
              <th><h1 class="govuk-heading-s">2022/23</h1></th>
            </tr>
            <hr>

            <tr>
              <td>
                <h1 class="govuk-heading-s">Accomodation</h1>
              </td>
              <td>
                <div class="form-grp">
                  <label for="accom1"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "accom1-gross",
                    name: "accom1-gross"
                  }) }}
                </div>
              </td>
              <td>
                <div class="form-grp">
                <label for="accom2"></label>
                {{ govukInput({
                  label: {
                    text: ""
                  },
                  prefix: {
                    text: "£"
                  },
                  classes: "govuk-input--width-10",
                  id: "accom2-gross",
                  name: "accom2-gross"
                }) }}
              </div>
            </td>
              <td>
                <div class="form-grp">
                  <label for="accom3"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "accom3-gross",
                    name: "accom3-gross"
                  }) }}
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h1 class="govuk-heading-s">Food</h1>
              </td>
              <td>
                <div class="form-grp">
                  <label for="food1"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "food1-gross",
                    name: "food1-gross"
                  }) }}
                </div>
              </td>
              <td>
                <div class="form-grp">
                <label for="food2"></label>
                {{ govukInput({
                  label: {
                    text: ""
                  },
                  prefix: {
                    text: "£"
                  },
                  classes: "govuk-input--width-10",
                  id: "food2-gross",
                  name: "food2-gross"
                }) }}
              </div>
            </td>
              <td>
                <div class="form-grp">
                  <label for="food3"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "food3-gross",
                    name: "food3-gross"
                  }) }}
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h1 class="govuk-heading-s">Alcohol</h1>
              </td>
              <td>
                <div class="form-grp">
                  <label for="alco1"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "alco1-gross",
                    name: "alco1-gross"
                  }) }}
                </div>
              </td>
              <td>
                <div class="form-grp">
                <label for="alco2"></label>
                {{ govukInput({
                  label: {
                    text: ""
                  },
                  prefix: {
                    text: "£"
                  },
                  classes: "govuk-input--width-10",
                  id: "alco2-gross",
                  name: "alco2-gross"
                }) }}
              </div>
            </td>
              <td>
                <div class="form-grp">
                  <label for="alco3"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "alco3-gross",
                    name: "alco3-gross"
                  }) }}
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h1 class="govuk-heading-s">Other receipts<p>(Including hire of function rooms, conference rooms, and telephones)</p></h1>
              </td>
              <td>
                <div class="form-grp">
                  <label for="other1"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "other1-gross",
                    name: "other1-gross"
                  }) }}
                </div>
              </td>
              <td>
                <div class="form-grp">
                <label for="other2"></label>
                {{ govukInput({
                  label: {
                    text: ""
                  },
                  prefix: {
                    text: "£"
                  },
                  classes: "govuk-input--width-10",
                  id: "other2-gross",
                  name: "other2-gross"
                }) }}
              </div>
            </td>
              <td>
                <div class="form-grp">
                  <label for="other3"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "other3-gross",
                    name: "other3-gross"
                  }) }}
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <h1 class="govuk-heading-s">Total gross profits</h1>
              </td>
              <td>
                <div class="form-grp">
                  <label for="total1"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "total1-gross",
                    name: "total1-gross"
                  }) }}
                </div>
              </td>
              <td>
                <div class="form-grp">
                <label for="total2"></label>
                {{ govukInput({
                  label: {
                    text: ""
                  },
                  prefix: {
                    text: "£"
                  },
                  classes: "govuk-input--width-10",
                  id: "total2-gross",
                  name: "total2-gross"
                }) }}
              </div>
            </td>
              <td>
                <div class="form-grp">
                  <label for="total3"></label>
                  {{ govukInput({
                    label: {
                      text: ""
                    },
                    prefix: {
                      text: "£"
                    },
                    classes: "govuk-input--width-10",
                    id: "total3-gross",
                    name: "total3-gross"
                  }) }}
                </div>
              </td>
            </tr>
          </table>

      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
