{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Lease or agreement details </h1>

      <form class="form" action="/lease-begin-continued" method="post">

        {{ govukDateInput({
          id: "current-lease-begin",
          namePrefix: "current-lease-begin",
          fieldset: {
            legend: {
              text: "When did the current lease or agreement begin?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "If the current lease was granted to a previous ooccupier, tell us when it was started by them"
          }
        }) }}

        {{ govukInput({
          id: "granted",
          name: "granted",
          label: {
            text: "How long was it granted for?",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          suffix: {
            text: "Months"
          },
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}

      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
