{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">About your lease or agreement </h1>

      <form class="form" action="/connection-to-landlord-answer-6015" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "connected-to-landlord",
          name: "connected-to-landlord",
          fieldset: {
            legend: {
              text: "Is rent payable affected by any factors such as legal or planning restrictions, or unusual terms or conditions in the lease or agreement?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, a surcharge payable in exchange for release for tie, a break clause, or contracting out of Landlord and Tenant Act rights"
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: yesHtml
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>



    </div>
  </div>

{% endblock %}
