{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Lettings </h1>

      <form class="form" action="/lettings-details-answer-6020" method="post">

        {{ govukRadios({
          idPrefix: "lettings-details-6020",
          name: "lettings-details-6020",
          fieldset: {
            legend: {
              text: "Select type of letting",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Automated teller machine (ATM)",
              text: "Automated teller machine (ATM)"
            },
            {
              value: "Telecom mast",
              text: "Telecom mast"
            },
            {
              value: "Advertising right",
              text: "Advertising right"
            },
            {
              value: "Other (garage workshop, for example)",
              text: "Other (garage workshop, for example)"
            }
          ]
        }) }}

        <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
