{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Retrieve your draft</h1>

      <p>Provide the password when you saved your draft or the one given to you when you were timed out of the service</p>

      <form class="form" action="/task-list-initial-lessee-trade" method="post">

<div>
	   <label class="govuk-label" for="password">
	     Password
	   </label>
	 	         <input class="govuk-input govuk-input--width-20" 
	 	       id="password" name="password" type="password"   aria-describedby="password-hint">
<br/><br/>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>
		
		<p class="govuk-body">
		        <a href="/still-connected-standard" class="govuk-link">Start form again</a><br/>Without a password you will be presented with a brand new unpopulated form
		    </p>

      </form>

    </div>
  </div>

{% endblock %}
