{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m">About your lease or agreement (continued)</span>
      <br>

      <form class="form" action="/rent-payable-affected-answer-6015" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "rent-affected-6015",
          name: "rent-affected-6015",
          fieldset: {
            legend: {
              text: "Are there any legal or planning restrictions, unusual terms or conditions in the lease or agreement etc that may have affected the rent payable?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, surchage payable in exchange for release for tie, break clause, contracting out of Landlaord and Tenant Act rights"
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}
      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>



    </div>
  </div>

{% endblock %}
