{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Lease or agreement details </h1>

      <form class="form" action="/check-your-answers-6015" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "current-rent-payable",
          name: "current-rent-payable",
          fieldset: {
            legend: {
              text: "Is the current rent payable due to review within the next 12 months earlier under the terms of the existing lease or upon grant of a new lease?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Do not include any rent increases linked t oturnover or the retail price index (RPI)"
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "current-rent-payable-date",
          namePrefix: "current-rent-payable-date",
          fieldset: {
            legend: {
              text: "Date of next rent review/expiry of existing lease",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          }
        }) }}

        <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
