{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Lease or agreement details </h1>

      <form class="form" action="/rent-include-fixture-fittings" method="post">

        {{ govukInput({
          id: "cost",
          name: "cost",
          label: {
            text: "Where specifically itemised, what sum is included in the rent (excluding VAT)?",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

        {{ govukTextarea({
          name: "more-detail",
          id: "more-detail",
          label: {
            text: "Describe services provided",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Do not include personal or financial information, like your National Insurance number or credit card details."
          }
        }) }}

      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
