{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Lease or agreement details </h1>

      <form class="form" action="/rent-include-trade" method="post">

        {{ govukCheckboxes({
          idPrefix: "rent-based",
          name: "rent-based",
          fieldset: {
            legend: {
              text: "What is the rent based on?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that applies. Leave empty if not applicable."
          },
          items: [
            {
              value: "A percentage of open market value",
              text: "A percentage of open market value"
            },
            {
              value: "A fixed amount",
              text: "A fixed amount"
            },
            {
              value: "A percentage of turnover of the occupier's business",
              text: "A percentage of turnover of the occupier's business"
            },
            {
              value: "Indexed to the RPI or another index",
              text: "Indexed to the RPI or another index"
            },
            {
              value: "Stepped rent agreement",
              text: "Stepped rent agreement"
            }
          ]
        }) }}

      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
