{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/rent-includes" method="post">

        {{ govukCheckboxes({
          idPrefix: "rent-payable",
          name: "rent-payable",
          fieldset: {
            legend: {
              text: "Does the rent payable:",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "include-staff-accomodation",
              text: "Include licencee's or staff living accomodation"
            },
            {
              value: "include-other-property",
              text: "Include other property"
            },
            {
              value: "relate-to-part-of-property",
              text: "Relate to the only part of the property"
            },
            {
              value: "relate-to-land",
              text: "Relate to the land (excluding buildings)"
            },
            {
              value: "relate-shell-unit",
              text: "Relate to a 'shell' unit"
            }
            {
              divider: "or"
            },
            {
              value: "none",
              text: "None of the above",
              behaviour: "exclusive"
            }
          ]
        }) }}

      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
