{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">

        

        {{ govukPanel({
          titleText: "Draft saved successfully"
        }) }}
        
   
			 <p class="govuk-body">Your information has been saved but has not yet been sent. You'll need to come back later to declare your business’s details</p>
        
   



     <p class="govuk-body">You’ll still need your reference number and the postcode shown on the letter to view and change your information, as well as your password</p>

 
	 
     <script>
	   
  	   let start = new Date();
  	   let end = new Date(start);
  	   end.setMonth(end.getMonth() + 3);
  	   const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
	   
  	   let addMon = new Date(end).toLocaleDateString(undefined, options);

  	   //console.log(start, end, addMon)
  	   </script>

     <p class="govuk-body">
         We’ll remove unsent information on
		 <script type="text/javascript">
		 				           document.write(addMon)
		 				         </script>	
     </p>

     <p>
    <a href="/reference-save" class="govuk-button">Log out</a>
         <a href="/trading-details-one" class="govuk-button  govuk-button--secondary">Continue completing this form</a>
         
    
     </p>
	 


	       </form>

    </div>
  </div>

{% endblock %}
