{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/still-connected-answer-standard" method="post">

        {{ govukRadios({
          idPrefix: "still-connected-address-standard",
          name: "still-connected-address-standard",
          fieldset: {
            legend: {
              html: "Are you still connected to:<br/>747, GORING ROAD, GORING-BY-SEA, WORTHING, BN12 4AX?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes-connected",
              text: "Yes"
            },
            {
              value: "yes-edit-address",
              text: "Yes, and the address needs to be updated"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}


        <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
