{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
 <span class="govuk-caption-m" id="section-x-of-y">About your lease or agreement</span>
      
      <form class="form" action="/further-info-standard" method="post">

        
		
        {{ govukTextarea({
          name: "interval-rent-review-6010",
          id: "interval-rent-review-6010",
          label: {
            text: "Describe the legal or planning restrictions, unusual terms or conditions in the lease or agreement that may have affected the rent payable",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "For example, a break clause, contracting out of the Landlord and Tenant Act"
          }
         
        }) }}
		
		

       

      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>



    </div>
  </div>

{% endblock %}
