{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		
		 <span class="govuk-caption-m" id="section-x-of-y">About your lease or agreement</span>

      <form class="form" action="/three-years-answer" method="post">

        {% call govukFieldset({
          legend: {
            text: "Lease or agreement details",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "within-three-years",
          name: "within-three-years",
          fieldset: {
            legend: {
              text: "Did the tenancy, lease or agreement commence within the last three years?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "altered-three-years",
          name: "altered-three-years",
          fieldset: {
            legend: {
              text: "Has the rent been agreed, reviewed or altered within the last 3 years?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "rent-review",
          name: "rent-review",
          fieldset: {
            legend: {
              text: "Is the rent currently under review, or is a new lease/agreement being negotiated?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% endcall %}

      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
