{% extends "layout.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">  <span class="govuk-caption-m" id="section-x-of-y">About your trading history</span>

      <h1 class="govuk-heading-l">Cost of sales</h1>
	  
	  <div id="passport-issued-hint" class="govuk-hint">
	      Give trading receipts and expenditure for the last 3 financial years
	    </div>


        <style>
          .row {
            display: flex;
          }

          .form-grp {
            margin: 10px
          }
          .form-grp label {
            display:block;
          }
		  
		  .row {margin:20px 0;}
		  
		  div span.govuk-input__wrapper {display:inline-block;}
		  
		  .govuk-input__prefix, .govuk-input__suffix {
		    font-size: 19px;
		    font-size: 1.1875rem;
		    line-height: 1.38;
	
		  }
		  
		  .govuk-input__suffix {
			margin-right:30px;
		  }
		  
		  .govuk-input__prefix.secondCol {
			margin-left:70px;
		  }
		  
		  
		  
		  p {font-weight:bold;}
		  
		  .subtitle {font-weight:normal;}
		  
		  .govuk-textarea {
		    margin-bottom: 0px;
		  }
		  
		  
		 
		  
          </style>
		  
		 

        <form class="form" action="/trading-three-columns-6076-profits" method="post">
			
			<div class="row weeks">
				
				<p style="margin-right:170px">Financial year end</p>
				
				<span class="govuk-input__wrapper">
					<p style="margin-right:115px">{{ data['accounts-day'] }}/{{ data['accounts-month'] }}/2020</p>
					
				</span>
				
				<span class="govuk-input__wrapper">
					<p style="margin-right:115px">{{ data['accounts-day'] }}/{{ data['accounts-month'] }}/2021</p>
				
				</span>
				
				<span class="govuk-input__wrapper">
					<p style="margin-right:0px">{{ data['accounts-day'] }}/{{ data['accounts-month'] }}/2022</p>
				
				</span>
				
   			</div>
			

			


<div class="row">
				
				<p style="margin-right:186px">Imported power</p>
				
			<span class="govuk-input__wrapper">
				<label class="govuk-input__prefix" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
			</span>
			
			<span class="govuk-input__wrapper">
				<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
			</span>
			
			<span class="govuk-input__wrapper">
				<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
			</span>
</div>
<div class="row">
				
				<p style="margin-right:129px">Transmission network<br/>use of system (TNuoS)</p>
				
			<span class="govuk-input__wrapper">
				<label class="govuk-input__prefix" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
			</span>
			
			<span class="govuk-input__wrapper">
				<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
			</span>
			
			<span class="govuk-input__wrapper">
				<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
			</span>
</div>
<div class="row">
				
				<p style="margin-right:130px">Balancing services<br/>use of system (BSuoS)</p>
				
			<span class="govuk-input__wrapper">
				<label class="govuk-input__prefix" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
			</span>
			
			<span class="govuk-input__wrapper">
				<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
			</span>
			
			<span class="govuk-input__wrapper">
				<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
			</span>
</div>



	

			<div class="row" style="margin-bottom:0">
				
				<p style="width:300px;margin-right:22px">Other costs</p>

				<div class="govuk-form-group">
			
				  <div id="more-detail-hint" class="govuk-hint">
				    Please specify
				  </div>
				  <textarea style="width:352px" class="govuk-textarea" id="more-detail" name="more-detail" rows="3" aria-describedby="more-detail-hint"></textarea>
				</div>

   			</div>


<div class="row"  style="margin-top:0">
				
				<p style="margin-right:322px"></p>
				
			<span class="govuk-input__wrapper">
				<label class="govuk-input__prefix" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
			</span>
			
			<span class="govuk-input__wrapper">
				<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
			</span>
			
			<span class="govuk-input__wrapper">
				<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
			</span>
</div>

			



<div class="row">
				
				<p style="margin-right:152px">Total gross receipts</p>
				
			<span class="govuk-input__wrapper">
				<label class="govuk-input__prefix" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
			</span>
			
			<span class="govuk-input__wrapper">
				<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
			</span>
			
			<span class="govuk-input__wrapper">
				<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
			</span>
</div>
		
			
		
			
			
		
			
			
			
      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>
    </div>
  </div>

{% endblock %}
