{% extends "layout.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">About your trading history</h1>

      <h1 class="govuk-heading-l">Please provide trading information for the last 3 financial years. If you took occupation within that time, please provide your trading history since you occupied the property</h1>

      <form class="form" action="/payments-lieu" method="post">


      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">April 2021 to March 2022</span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/turnover-test-6015" aria-describedby="eligibility-status">
                  Edit trading records information
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">April 2020 to March 2021</span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Edit trading records information
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Not Started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">April 2019 to March 2020</span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Edit trading records information
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Not Started</strong>
            </li>
          </ul>
            </li>
          </ul>
        </li>
      </ol>

      {{ govukCheckboxes({
        idPrefix: "trading-reciepts-checkbox",
        name: "trading-reciepts-checkbox",
        items: [
          {
            value: "I have added the trading receipts for the last 3 financial years or since occupation commenced",
            text: "I have added the trading receipts for the last 3 financial years or since occupation commenced"
          }
        ]
      }) }}

      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>
    </div>
  </div>

{% endblock %}
