{% extends "layout.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



        <style>
          .row {
            display: flex;
          }

          .form-grp {
            margin: 10px
          }
          .form-grp label {
            display:block;
          }
		  
		  .row {margin:20px 0;}
		  
		  div span.govuk-input__wrapper {display:inline-block;}
		  
		  .govuk-input__prefix, .govuk-input__suffix {
		    font-size: 19px;
		    font-size: 1.1875rem;
		    line-height: 1.38;
	
		  }
		  
		  .govuk-input__suffix {
			margin-right:30px;
		  }
		  
		  .govuk-input__prefix.secondCol {
			margin-left:70px;
		  }
		  
		  .row.weeks span {margin-left:50px;}
		  
		  p {font-weight:bold;}
		  
		  .subtitle {font-weight:normal;}
		  
		  
		 
		  
          </style>
		  
		  <div class="govuk-grid-row">
		    <div class="govuk-grid-column-full">
		      <span class="govuk-caption-m">About your trading history</span>
			  	  <h1 class="govuk-heading-l">Touring and tent pitches</h1>
		      <h2 class="govuk-heading-m">What were your gross receipts from these pitches, excluding VAT and electricity and electricity costs?</h2>

		      <p class="govuk-body-m">Please provide us with details of your turnover. If the accounts do not relate to a whole year, or if you are not trading continuously, state the relevant number of weeks.</p>
		  
		 

        <form class="form" action="/pitches-numbers" method="post">
			
			<div class="row weeks">
				
				<p style="margin-right:150px">Financial year end</p>
				
				<span class="govuk-input__wrapper">
					<p style="margin-right:60px">{{ data['accounts-day'] }}/{{ data['accounts-month'] }}/2019</p>
					
				</span>
				
				<span class="govuk-input__wrapper">
					<p style="margin-right:60px">{{ data['accounts-day'] }}/{{ data['accounts-month'] }}/2020</p>
				
				</span>
				
				<span class="govuk-input__wrapper">
					<p style="margin-right:0px">{{ data['accounts-day'] }}/{{ data['accounts-month'] }}/2021</p>
				
				</span>
				
   			</div>
			
				
			<div class="row weeks">
				
			<p style="margin-right:164px">Trading Period</p>
				
				<span class="govuk-input__wrapper">
			
					<input class="govuk-input govuk-input--width-3" type="text"><label class="govuk-input__suffix" aria-hidden="true">weeks</label>
				</span>
				
				<span class="govuk-input__wrapper">
				
					<input class="govuk-input govuk-input--width-3" type="text"><label class="govuk-input__suffix" aria-hidden="true">weeks</label>
				</span>
				
				<span class="govuk-input__wrapper">
				
					<input class="govuk-input govuk-input--width-3" type="text"><label class="govuk-input__suffix" aria-hidden="true">weeks</label>
				</span>
				
   			</div>
			
			<h2 class="govuk-heading-m">Pitches for caravans, motor homes or tenting units (including any 28 day rights)</h2>
			
			<div class="row">
				
				<p style="margin-right:205px">Gross Receipts</p>
				
				<span class="govuk-input__wrapper">
					<label class="govuk-input__prefix" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
				</span>
				
				<span class="govuk-input__wrapper">
					<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
				</span>
				
				<span class="govuk-input__wrapper">
					<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
				</span>
				
			
			
   			</div>
			
			
			
			<div class="row">
				
				<p style="margin-right:175px">Number of pitches</p>
				
				<span class="govuk-input__wrapper">
					<input class="govuk-input govuk-input--width-3" type="text"><label class="govuk-input__suffix" aria-hidden="true" style="margin-right:80px">pitches</label>
				</span>
				
				<span class="govuk-input__wrapper">
					<input class="govuk-input govuk-input--width-3" type="text"><label class="govuk-input__suffix" aria-hidden="true" style="margin-right:80px">pitches</label>
				</span>
				
				<span class="govuk-input__wrapper">
					<input class="govuk-input govuk-input--width-3" type="text"><label class="govuk-input__suffix" aria-hidden="true">pitches</label>
				</span>
				
   			</div>
			
			
			<h2 class="govuk-heading-m">Pitches for bell tents, yurts, tipis, shepherd huts or other pre-erected or mobile structures</h2>
			
			<div class="row">
				
				<p style="margin-right:205px">Gross Receipts</p>
				
				<span class="govuk-input__wrapper">
					<label class="govuk-input__prefix" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
				</span>
				
				<span class="govuk-input__wrapper">
					<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
				</span>
				
				<span class="govuk-input__wrapper">
					<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
				</span>
				
				</div>
				
				
				<h2 class="govuk-heading-m">Rally areas not included above</h2>
			
				<div class="row">
				
					<p style="margin-right:205px">Gross Receipts</p>
				
					<span class="govuk-input__wrapper">
						<label class="govuk-input__prefix" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
					</span>
				
					<span class="govuk-input__wrapper">
						<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
					</span>
				
					<span class="govuk-input__wrapper">
						<label class="govuk-input__prefix secondCol" aria-hidden="true">£</label><input class="govuk-input govuk-input--width-5" type="text">
					</span>
				
			
			
   			</div>
			
			
			
			<div class="row">
				
				<p style="margin-right:195px">Area in hectares</p>
				
				<span class="govuk-input__wrapper">
					<input class="govuk-input govuk-input--width-3" type="text"><label class="govuk-input__suffix" aria-hidden="true" style="margin-right:60px">hectares</label>
				</span>
				
				<span class="govuk-input__wrapper">
					<input class="govuk-input govuk-input--width-3" type="text"><label class="govuk-input__suffix" aria-hidden="true" style="margin-right:60px">hectares</label>
				</span>
				
				<span class="govuk-input__wrapper">
					<input class="govuk-input govuk-input--width-3" type="text"><label class="govuk-input__suffix" aria-hidden="true">hectares</label>
				</span>
				
   			</div>
			
			
			
			
			
		
			
			
			
			
			
			
			
			
			
			
      <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>
    </div>
  </div>

{% endblock %}
