  {% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">About your trading history</h1>

      <h1 class="govuk-heading-m">Please provide tradining information for the last 3 financial years. If you took occupation within that time, please provide your trading history since you occupied the property.</h1>
      <h1 class="govuk-heading-m">We do not need information from the current financial year</h1>
      <br>
      <h1 class="govuk-heading-m">April 2020 to March 2021</h1>
      <br>

      <form class="form" action="/trading-details-three-6015" method="post">

        {{ govukInput({
          id: "turnover-year",
          name: "turnover-year",
          label: {
            text: "Turnover, excluding VAT",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

        {{ govukInput({
          id: "cost",
          name: "cost",
          label: {
            text: "Accomodation",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          prefix: {
            text: "£"
          },
          hint: {
            text: "for year ending (day:month:year)"
          },
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Average occupancy rate",
            classes: "govuk-label--m"
            },
          classes: "govuk-input--width-10",
          id: "average-rate",
          name: "average-rate",
          suffix: {
          text: "%"
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: "food",
          name: "food",
          label: {
          text: "Food",
          classes: "govuk-label--m",
          isPageHeading: true
          },
          prefix: {
          text: "£"
          },
          classes: "govuk-input--width-10",
          hint: {
          text: "Excluding wine and liqueurs"
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: "alcohol",
          name: "alcohol",
          label: {
          text: "Alcohol",
          classes: "govuk-label--m",
          isPageHeading: true
          },
          prefix: {
          text: "£"
          },
          classes: "govuk-input--width-10",
          hint: {
          text: "Including soft drinks, crisps, nuts etc"
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: "other-receipts",
          name: "other-receipts",
          label: {
          text: "Other receipts",
          classes: "govuk-label--m",
          isPageHeading: true
          },
          prefix: {
          text: "£"
          },
          classes: "govuk-input--width-10",
          hint: {
          text: "Including hire of function rooms, conference rooms and telephones"
          },
          spellcheck: false
        }) }}

        {{ govukInput({
          id: "total-sales",
          name: "total-sales",
          label: {
          text: "Total Sales Revenue",
          classes: "govuk-label--m",
          isPageHeading: true
          },
          prefix: {
          text: "£"
          },
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

      {% set percentLandlord %}
      {{ govukInput({
        id: "percent-landlord",
        name: "percent-landlord",
        type: "number",
        autocomplete: "number",
        spellcheck: false,
        classes: "govuk-!-width-one-third",
        label: {
          text: "% paid to landlord"
        }
      }) }}
      {% endset -%}

      {% set percentTenant %}
      {{ govukInput({
        id: "percent-tenant",
        name: "percent-tenant",
        type: "number",
        autocomplete: "number",
        spellcheck: false,
        classes: "govuk-!-width-one-third",
        label: {
          text: "% retained by tenant or occupier"
        }
      }) }}
      {% endset -%}

      {% set percentLandlord %}
      {{ govukInput({
        id: "percent-landlord",
        name: "percent-landlord",
        type: "number",
        autocomplete: "number",
        spellcheck: false,
        classes: "govuk-!-width-one-third",
        label: {
          text: "% paid to landlord"
        }
      }) }}
      {% endset -%}

      {% set percentTenant %}
      {{ govukInput({
        id: "percent-tenant",
        name: "percent-tenant",
        type: "number",
        autocomplete: "number",
        spellcheck: false,
        classes: "govuk-!-width-one-third",
        label: {
          text: "% retained by tenant or occupier"
        }
      }) }}
      {% endset -%}

      <!--{{ govukRadios({
          idPrefix: "awp-gaming-machine",
          name: "awp-gaming-machine",
          fieldset: {
            legend: {
              text: "Are AWP gaming machines takings shared between occupier and landlord?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Excluding prizes, hirer's charge, rentals and license fees"
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: percentLandlord
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}-->

        <p class="govuk-body" style="clear:both;">
  

		      <button value="continue_button" type="submit" name="continue_button" class="govuk-button" data-module="govuk-button" id="continue" novalidate="novalidate" style="margin-right:4px;">
		        Save and continue
          
		      </button>
  
		      <button value="save_button" type="submit" name="save_button" class="govuk-button govuk-button--secondary" data-module="govuk-button" id="continue" novalidate="novalidate">
		        Save as draft
          
		      </button>
    
  
		</p>

      </form>

    </div>
  </div>

{% endblock %}
